* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Forum', cursive;
    background-color: #f3f3db;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #cfc7c7;
    outline: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #cfc7c7;
    border: unset;
    cursor: pointer;
    border-radius: 5px;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #1a606d;
}

.msg {
    border: 2px solid #9c2712;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.error {
    border-bottom: 2px solid #f03110;
}
